@model (int, int)

@{
    (int from, int to) = Model;
}
<h2>Multiplication table of @from to @to</h2>
<hr>

<div class="container">
    <div class="row">
        @for (int i = from; i <= to; i++)
        {
            <div class="col">
                @for (byte j = 1; j <= 10; j++)
                {
                    var p = i * j;
                    <pre>@i * @j = @p</pre>
                }
            </div>
        }
    </div>
</div>
